#carrousel {

}

.carrousel-container {

}

.carrousel {
	overflow: hidden;
	position: relative;
	left: 0;
}

.carrousel ul {
	padding: 0;
}

.carrousel li {

}

.carrousel a {

}

.carrousel img {
	
}

.carrousel-controller {

}

.carrousel-controller button {

}

.carrousel-horizontal-li{
	float:left;
	list-style-type: none;
}

.ul-carrousel{
	position: relative;
}